<div style="display: flex; flex-direction: column; align-items: left; justify-content: center;  margin: 10px; ">
    <mat-card style="width:300px;">
        <mat-card-header>
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" mat-card-avatar />
            <mat-card-title>John Clemente</mat-card-title>
            <mat-card-subtitle>In Progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                John Clemente
            </p>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Submit</button>
                <button mat-flat-button>Cancel</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    <mat-card style="width:300px;">
        <mat-card-header>
            <img src="https://xsgames.co/randomusers/assets/avatars/female/45.jpg" mat-card-avatar />
            <mat-card-title>Lorriane Monterosa</mat-card-title>
            <mat-card-subtitle>In Progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorriane Monterosa
            </p>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Submit</button>
                <button mat-flat-button>Cancel</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    <mat-card style="width:300px;">
        <mat-card-header>
            <img src="https://xsgames.co/randomusers/assets/avatars/female/63.jpg" mat-card-avatar />
            <mat-card-title>Quinn Jannelli</mat-card-title>
            <mat-card-subtitle>In Progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Quinn Jannelli
            </p>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Submit</button>
                <button mat-flat-button>Cancel</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    <mat-card style="width:300px;">
        <mat-card-header>
            <img src="https://xsgames.co/randomusers/assets/avatars/male/6.jpg" mat-card-avatar />
            <mat-card-title>Brice Ralya</mat-card-title>
            <mat-card-subtitle>In Progress</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Brice Ralya
            </p>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Submit</button>
                <button mat-flat-button>Cancel</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    </div>