<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px" style="align-items: left; justify-content: center;" fxFlexAlign="stretch">
    <button class="leftRs" [disabled]="leftActive" (click)="viewPrevCards()">&#9650;</button>
    <mat-card class="company-card" (click)="showPersonProfile(company)" *ngFor="let company of viewCompanies;" [class.active-company]="company?.index === selectedIndex">
        <mat-card-header>
            <div class="numberCircle" mat-card-avatar>{{company.score}}</div>
            <mat-card-title  class="text-oneline">{{company.name}}</mat-card-title>
            <mat-card-subtitle><span >{{company.website}}</span></mat-card-subtitle>
            <mat-card-subtitle><span >•&nbsp;{{company.location}}</span><span *ngIf="company?.revenue != null" >   •&nbsp;Revenue: {{company.revenue}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div style="padding-left: 60px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px">
                <div>
                    <mat-icon aria-hidden="false" aria-label="group" fontIcon="group"></mat-icon>
                    <span class="aligned-with-icon">Employees: {{company?.totalEmployees}}</span>
                </div>
                <div style="padding-bottom: 10px;">
                    <mat-icon aria-hidden="false" aria-label="business" fontIcon="business"></mat-icon>
                    <a class="aligned-with-icon">
                        <span *ngIf="company?.firstIndustry != ''" matTooltip={{company?.firstIndustry}} matTooltipPosition="above">{{company?.firstIndustry}}</span>
                        <span *ngIf="company?.remainingIndustry != ''" matTooltipClass="tooltip" matTooltip="{{company?.remainingIndustryTooltip}}" matTooltipPosition="above">{{company?.remainingIndustry}}</span>
                    </a>
                </div>
                <div>
                    <mat-icon *ngIf="company?.fundingDateStage != null" aria-hidden="false" aria-label="date_range" fontIcon="date_range"></mat-icon>
                    <span *ngIf="company?.fundingDateStage != null" class="aligned-with-icon">{{company?.fundingDateStage}}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <button class="leftRs" [disabled]="rightActive" (click)="viewNextCards()">&#9660;</button>
</div>