<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <div class="container">
        <div class="box">
            <app-company-profile></app-company-profile>
        </div>
        <div class="box" *ngIf="viewPerson">
            <app-person-profile></app-person-profile>
        </div>
        <div class="box" *ngIf="viewConnection">
            <app-connection-graph></app-connection-graph>
        </div>
    </div>
</html>